<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asrorabdurahmonov.phoneapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhoneApp">
        <activity
            android:name=".PhoneInfo"
            android:theme="@style/Theme.PhoneApp.WithActionBar" />
        <activity
            android:name=".PhoneModels"
            android:theme="@style/Theme.PhoneApp.WithActionBar" />
        <activity
            android:name=".PhoneTypes2"
            android:theme="@style/Theme.PhoneApp.WithActionBar"
            android:label="Phones" />
        <activity
            android:name=".AddPhoneInfo"
            android:theme="@style/Theme.PhoneApp.WithActionBar"
            android:label="Add phone" />
        <activity
            android:name=".PhoneTypes"
            android:theme="@style/Theme.PhoneApp.WithActionBar"
            android:label="Phone types" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>